<section class="p-4 sm:ml-64">
    @for(project of projects ; track $index){
    <div class="p-3">
        <div class="fadeIn bg-third/50 hover:bg-main/10 flex flex-wrap flex-col-reverse items-center lg:flex-row rounded-3xl p-5 text-white outline outline-white/10">
            <div class="lg:w-1/2 lg:p-3 min-h-[22rem] flex flex-col justify-between">
                <h2 class="text-4xl lg:text-5xl mt-5 lg:mt-0">{{project.title}}</h2>
                <p class="my-5 lg:pe-10 text-xl">{{project.description}}</p>
                <div class="flex flex-wrap justify-between items-center">
                    <ul class="flex flex-wrap gap-3">
                    @for(tech of project.techs ; track $index){
                        <li class="bg-fourth hover:bg-fourth/90 flex flex-wrap items-center gap-1 p-2 rounded-xl min-w-16 cursor-pointer">
                            <img [src]="tech.Src" [alt]="tech.Name" class="size-6">
                            <span class="font-semibold text-gray-700">{{tech.Name}}</span>
                        </li>
                    }
                    </ul>
                </div>
                <div class="flex flex-wrap justify-end gap-3 mt-8">
                        <a [href]="project.repo" target="_blank"><button class="bg-transparent hover:bg-main border-2 border-main py-2 px-8 rounded-xl cursor-pointer"><i class="fa-brands fa-github"></i> Code</button></a>
                        <a [href]="project.liveDemo" target="_blank"><button class="bg-main/80 hover:bg-main border-2 border-main/80 py-2 px-8 rounded-xl cursor-pointer">View <i class="fa-solid fa-angles-right"></i></button></a>
                </div>
                <span class="border-t mt-5 pt-2 font-semibold">Date Created: {{project.date}}</span>
            </div>
            <div class="lg:w-1/2 lg:p-3">
                <img [src]="project.thumbnail" [alt]="project.title" class="rounded-2xl">
            </div>
        </div>
    </div>
    }
</section>