<section class="p-4 sm:ml-64 flex justify-center items-center">
    <form action="" class="bg-third w-full lg:w-1/2 min-h-[35rem] mt-20 rounded-2xl p-10 flex flex-wrap flex-col items-center justify-center gap-6">
        <h2 class="text-white text-center text-5xl font-semibold">Contact Me</h2>
        <div class="w-full lg:w-3/4">
            <input type="text" class="w-full rounded-2xl focus:border-white" placeholder="Your Name...">
        </div>
        <div class="w-full lg:w-3/4">
            <input type="text" class="w-full rounded-2xl focus:border-white" placeholder="Your Email...">
        </div>
        <div class="w-full lg:w-3/4">
            <textarea name="" id="" class="w-full rounded-2xl focus:border-white max-h-60" placeholder="Message..."></textarea>
        </div>
        <button type="button" class="bg-transparent hover:bg-main border-2 border-main py-2.5 w-1/2 rounded-xl cursor-pointer text-white font-semibold">Send</button>
    </form>
</section>