<section class="p-4 sm:ml-64 text-white">
    <div class="bg-third/50 w-fit p-5 rounded-xl">
        <h2 class="text-4xl lg:text-5xl font-semibold underline"> About Me: </h2>
        <ul class="text-xl font-semibold mt-5 space-y-3">
            <li>Name: Gamal Ehab.</li>
            <li>Email: gamalehabg&#64;gmail.com</li>
            <li>Phone: +201118416050</li>
            <li>Address: Nasr City, Cairo, Egypt.</li>
            <li>Education: Bachelor's Degree At Business Information Systems (BIS).</li>
            <li>Military Service Status: Exempted.</li>
        </ul>
    </div>
    <app-skills></app-skills>
</section>