<section class="p-4 sm:ml-64 text-white">
    <div class="flex flex-wrap flex-col lg:flex-row justify-between bg-third/50 p-5 rounded-xl">
        <div class="lg:w-1/2">
            <h2 class="text-4xl lg:text-5xl font-semibold underline"> About Me: </h2>
            <ul class="text-xl font-semibold mt-5 space-y-3">
                <li><span class="text-2xl font-bold">Name:</span> Gamal Ehab.</li>
                <li><span class="text-2xl font-bold">Email:</span> gamalehabg&#64;gmail.com</li>
                <li><span class="text-2xl font-bold">Phone:</span> +201118416050</li>
                <li><span class="text-2xl font-bold">Address:</span> Nasr City, Cairo, Egypt.</li>
                <li><span class="text-2xl font-bold">Education:</span> Bachelor's Degree At Business Information Systems (BIS).</li>
                <li><span class="text-2xl font-bold">Military Service Status:</span> Exempted.</li>
            </ul>
        </div>
        <div class="lg:w-1/2 mt-5 lg:mt-0">
            <img src="./images/4380747.jpg" alt="About Me Image" class="w-full rounded-4xl h-96 object-cover">
        </div>
    </div>
    <app-skills></app-skills>
</section>