<section class="p-4 sm:ml-64 text-white">
    <div class="bg-third/50 w-fit p-5 rounded-xl">
        <h2 class="text-4xl lg:text-5xl font-semibold underline"> About Me: </h2>
        <ul class="text-xl font-semibold mt-5 space-y-3">
            <li><span class="text-2xl font-bold">Name:</span> Gamal Ehab.</li>
            <li><span class="text-2xl font-bold">Email:</span> gamalehabg&#64;gmail.com</li>
            <li><span class="text-2xl font-bold">Phone:</span> +201118416050</li>
            <li><span class="text-2xl font-bold">Address:</span> Nasr City, Cairo, Egypt.</li>
            <li><span class="text-2xl font-bold">Education:</span> Bachelor's Degree At Business Information Systems (BIS).</li>
            <li><span class="text-2xl font-bold">Military Service Status:</span> Exempted.</li>
        </ul>
    </div>
    <app-skills></app-skills>
</section>