<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="fixed top-0 w-full bg-secondary/70 p-3 text-white sm:hidden">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
   <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 min-w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full overflow-y-auto bg-secondary/70">
         <h1 class="text-4xl text-main font-bold p-5">
          Gamal Ehab
         </h1>
      <ul class="space-y-2 font-medium">
   <div class="h-full px-3 pb-4 overflow-y-auto">
      <ul class="space-y-3 font-medium capitalize cursor-pointer mt-10">
         <li routerLink="home" routerLinkActive="bg-main/90 hover:bg-main" class="text-white text-xl bg-gray-800/60 hover:bg-gray-700 rounded-lg p-3"><i class="fa-solid fa-home"></i> home </li>
         <li routerLink="about" routerLinkActive="bg-main/90 hover:bg-main" class="text-white text-xl bg-gray-800/60 hover:bg-gray-700 rounded-lg p-3"><i class="fa-solid fa-user"></i> about </li>
         <li routerLink="projects" routerLinkActive="bg-main/90 hover:bg-main" class="text-white text-xl bg-gray-800/60 hover:bg-gray-700 rounded-lg p-3"><i class="fa-solid fa-table"></i> projects </li>
         <li routerLink="contact" routerLinkActive="bg-main/90 hover:bg-main" class="text-white text-xl bg-gray-800/60 hover:bg-gray-700 rounded-lg p-3"><i class="fa-solid fa-paper-plane"></i> contact </li>
      </ul>
      <ul class="text-white text-xl flex flex-wrap justify-center gap-5 p-3 mt-3 border-t-2 border-gray-600">
         <li class="size-9 flex items-center justify-center rounded-full bg-gray-800 hover:bg-gray-600 cursor-pointer hover:text-indigo-600"><a href="https://github.com/GamaL-Ehab" target="_blank"><i class="fa-brands fa-github"></i></a></li>
         <li class="size-9 flex items-center justify-center rounded-full bg-gray-800 hover:bg-gray-600 cursor-pointer hover:text-blue-600"><a href="https://www.linkedin.com/in/gamal-ehab-2baa5332b" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
         <li class="size-9 flex items-center justify-center rounded-full bg-gray-800 hover:bg-gray-600 cursor-pointer hover:text-green-500"><a href="https://wa.me/+201118416050" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
         <li class="size-9 flex items-center justify-center rounded-full bg-gray-800 hover:bg-gray-600 cursor-pointer hover:text-orange-600"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=gamalehabg@gmail.com&su=NewMail" target="_blank"><i class="fa-brands fa-google"></i></a></li>
      </ul>
   </div>
      </ul>
   </div>
</aside>



