<section class="p-4 sm:ml-64">
    <div class="flex flex-wrap flex-col-reverse lg:flex-row justify-between items-center bg-third/50 p-10 rounded-2xl outline outline-white/10">
        <div class="lg:w-1/2 flex flex-col justify-between text-white lg:p-10">
            <h2 class="text-2xl lg:text-5xl font-semibold">Hello, I'm Gamal Ehab</h2>
            <h3 class="text-3xl lg:text-4xl py-3">Front-End Web Developer</h3>
            <p>Recent BIS graduate and aspiring full-stack developer. Completed the front-end track of Route Academy’s Full-Stack Diploma, with skills in HTML, CSS, JavaScript, and Angular. <br>Currently expanding into back-end development with ASP.Net, Passionate about building responsive, user-focused web applications.</p>
            <div class="flex flex-wrap justify-end gap-3 mt-10 font-semibold">
                <a href="https://drive.google.com/file/d/10Vdu8UNLYOJasIStsNl1FPywCmXNwZ55/view?usp=sharing" target="_blank"><button class="bg-transparent hover:bg-main border-2 border-main py-2.5 px-3 lg:px-8 rounded-xl cursor-pointer"><i class="fa-solid fa-file"></i> View CV</button></a>
                <button routerLink="/projects" class="bg-main hover:bg-main/80 hover:border-main/80 border-2 border-main py-2.5 px-3 lg:px-8 rounded-xl cursor-pointer">Projects <i class="fa-solid fa-angles-right animate-pulse"></i></button>
            </div>
        </div>
        <div class="lg:w-1/2 my-5 ">
            <img src="./images/Hero.jpg" alt="hero image" class="rounded-3xl w-[35rem] justify-self-center">
        </div>
    </div>
    <app-top-projects></app-top-projects>
</section>
