<section class="p-4 sm:ml-64">
    <div class="flex flex-wrap flex-col-reverse lg:flex-row justify-between items-center bg-gray-800 p-10 rounded-2xl">
        <div class="lg:w-1/2 flex flex-col justify-between text-white p-10">
            <h2 class="text-5xl">Hello, I'm Gamal Ehab</h2>
            <h3 class="text-4xl py-3">Front-End Web Developer</h3>
            <p>Recent BIS graduate and aspiring full-stack developer. Completed the front-end track of Route Academy’s Full-Stack Diploma, with skills in HTML, CSS, JavaScript, and Angular. <br>Currently expanding into back-end development with ASP.Net, Passionate about building responsive, user-focused web applications.</p>
            <div class="flex flex-wrap justify-end gap-3 mt-10">
                <button class="hover:bg-gradient-to-r from-teal-400 to-teal-500 border-2 border-teal-400 py-2 px-5 rounded-lg cursor-pointer">View CV</button>
                <button class="bg-gradient-to-r hover:bg-gradient-to-l from-teal-400 to-teal-500 py-2 px-5 rounded-lg cursor-pointer">Projects</button>
            </div>
        </div>
        <div class="lg:w-1/2">
            <img src="./images/4884785.jpg" alt="hero image" class="rounded-4xl border-x-2 border-white">
        </div>
    </div>
</section>
