@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Rowdies:wght@300;400;700&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body{
margin-top: 3rem;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1448' height='583' preserveAspectRatio='none' viewBox='0 0 1448 583'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1148%26quot%3b)' fill='none'%3e%3crect width='1448' height='583' x='0' y='0' fill='rgba(28%2c 72%2c 117%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c483.814C124.054%2c489.714%2c241.087%2c599.311%2c357.706%2c556.601C475.524%2c513.452%2c559.017%2c390.592%2c587.926%2c268.497C615.431%2c152.332%2c520.955%2c45.669%2c506.745%2c-72.859C492.028%2c-195.614%2c572.072%2c-333.399%2c503.439%2c-436.233C434.961%2c-538.836%2c292.353%2c-564.901%2c169.683%2c-577.888C59.31%2c-589.574%2c-43.306%2c-541.074%2c-148.352%2c-505.24C-248.702%2c-471.008%2c-363.889%2c-455.528%2c-430.599%2c-373.116C-496.756%2c-291.388%2c-468.191%2c-172.241%2c-499.229%2c-71.778C-538.078%2c53.968%2c-670.242%2c163.288%2c-635.54%2c290.241C-601.512%2c414.727%2c-459.942%2c485.985%2c-336.488%2c523.586C-226.212%2c557.174%2c-115.148%2c478.338%2c0%2c483.814' fill='%23163a5e'%3e%3c/path%3e%3cpath d='M1448 1076.563C1568.154 1085.672 1698.22 1195.1950000000002 1798.388 1128.2150000000001 1899.078 1060.887 1830.819 890.821 1886.584 783.295 1947.1480000000001 666.515 2134.518 616.163 2132.159 484.633 2129.877 357.41700000000003 1957.8980000000001 309.501 1876.334 211.84699999999998 1792.681 111.69200000000001 1774.301-65.73699999999997 1647.326-95.84000000000003 1518.847-126.29999999999995 1417.186 16.41999999999996 1298.817 74.92899999999997 1204.28 121.65800000000002 1098.483 141.353 1021.549 213.478 939.172 290.706 858.262 384.327 848.772 496.844 839.405 607.906 923.448 700.058 972.0509999999999 800.359 1019.396 898.065 1036.262 1023.0609999999999 1130.1680000000001 1077.557 1223.695 1131.833 1340.174 1068.3890000000001 1448 1076.563' fill='%2322568c'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1148'%3e%3crect width='1448' height='583' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

@theme{
    --color-main: #20C4C6;
    --color-secondary: #101828;
    --color-third: #1F2937;
    --color-fourth: #cfcfcf;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3{
    font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,span,ul{
  font-family: "Amaranth", sans-serif;
  font-weight: 500;
  font-style: normal;
}